<li><a href="Introduction.html">Introduction</a></li>

<li class="dropdown-header">Basics</li>
<li><a href="Preparing-data.html">Preparing data</a></li>
<li><a href="Basic-BaSTA.html">Basic BaSTA</a></li>
<li><a href="Throwing-shapes.html">The shape argument</a></li>
<li><a href="Comparing-models.html">Comparing models</a></li>
<li><a href="Covariates.html">Covariates</a></li>

<li class="dropdown-header">Digging deeper</li>
<li><a href="Negative-senescence.html">Negative senescence</a></li>
<li><a href="Sex-differences.html">Sex differences</a></li>
<li><a href="Simulate-datasets.html">Simulate datasets</a></li>

<li class="dropdown-header">Literature</li>
<li><a href="References.html">References</a></li>
<li><a href="Basta-citations.html">Citations of BaSTA</a></li>
